@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    
  }
  
  nav{
    width:100vw;
  
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.4s ease;
    background-color:#002244;
  }
  nav .header{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: white;
  }
  nav.sticky .logo a{
    color: #fff;
  }
  .header .nav-links{
    display: flex;
  }
  .header .nav-links li{
    list-style: none;
    margin: 0 8px;
  }
   .nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
  }
   .nav-links li a:hover{
     color:#e5f0e6;
   }


p{
    text-align: justify;
    

}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 5px;
    color: white;
    font-family: "inter",sans-serif;

}
/*main Trending products part*/
.heading1{
    text-align: center;
    padding:5rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:#222f3e;

}
.heading span{
    background: #17a8dc;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%,100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.heading1 span{
    background: #17a8dc;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%,100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.main{
    background-color:  rgb(211, 233, 246);
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
.main1{
    margin-top: 20px;
    background-color:  rgb(211, 233, 246);
    border-radius: 25px;
    margin-left: 30px;
    margin-right: 30px;
}


.cards{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 3px;
    margin:0 auto;
    max-width:1000px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    font-family: sans-serif;
    cursor: pointer;  
}
     /*Actual different card*/
.card{
    box-shadow: 0 0 3px rgpa(0, 0, 0, 0.1);
    transition: all 0.3s;
  
}
.card:hover{
    transform: scale(1.10);
}

.card__image{
    width:100%;
    display: block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: clip;
}
.card__content{
    line-height:1.5;
    font-size: 0.9em;
    padding:15px;
    background: #fafafa;
}

.card__content > p:first-of-type{
 margin-top: 0;
}
.card__content > p:last-of-type{
    margin-bottom: 0;
   }
.card__info{
    padding:15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:#555555;
    background: #fafafa;
    font-size:0.8em;
    border-bottom:2px solid #cccccc;

}
.card__info i{
    font-size:0.9em;
    margin-right:8px;

}
.card__link{
    color:#64968c;
    text-decoration: none;
}
.card__link:hover{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}




.footer-distributed{
  background: #002244;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  display: flex;
  justify-content: space-around;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #7DF9FF;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #e5f0e6;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-family: "inter",sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}


/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}